@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus{
    outline: 3px dotted rgb(4, 195, 4);
    outline-offset: 2px;
}

html {
    scroll-behavior: smooth;
}

#overl{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.083);
}

